<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field mb-3">
    <%= form.label :item_name, class:"form-label" %>
    <%= form.text_field :item_name, class:"form-control" %>
  </div>


  <div class="field mb-3">
    <%= form.label :price, class:"form-label" %>
    <div class="input-group mb-2">
            <div class="input-group-prepend">
          <div class="input-group-text"> $ </div>
        </div>
    <%= form.text_field :price, class:"form-control" %>
  </div>
  </div>

    <div class="field mb-3">
    <%= form.label value="category", class:"form-label" %>
    <%= form.text_field :categoryname, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.number_field :user_id, id: :item_user_id, class:"form-control",  value:current_user.id, type: :hidden %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
  <br>
<% end %>
